

{{#carousel-item}}
  {{#link-to 'story' story.id}}<img class="img-responsive" src={{story.image}} alt={{story.title}}>{{story.title}} by {{story.author}}{{/link-to}}
{{/carousel-item}}

<!-- <li>
{{#link-to 'story' story.id}}{{story.title}} by {{story.author}}{{/link-to}}
<img src={{story.image}} alt={{story.title}}>
</li> -->
